:root{
--rojo:rgb(238, 12, 12);
}
body{
        background-color:var(--rojo);
}
.menu {
    display: block;
    list-style: none;
    background-color: grey;
    height: 600px;
    width: 200px;
}

/*...............................................................*/
/*                recuadro de boton salir                        */
/*...............................................................*/
    .botonSalir {
        display: inline-block;
        text-align: center;
        color: orange;
        width:50px;
        position: relative;
        top: 40px;
        left: 1350px;
        background-color: rgb(163, 218, 170);
        padding: 15px;/*me genera un borde alrrededor del texto*/
        border-radius: 30px;
          
    }
    .botonSalir:hover {
        display: inline-block;
        text-align: center;
        width:50px;
        position: relative;
        top: 40px;
        left: 1350px;
        padding: 15px;/*me genera un borde alrrededor del texto*/
        border-radius: 30px;
        transform: translate(5px, 5px);
        background-color: rgb(55, 73, 241);    
    }
    
    /*...............................................................*/
    /*                recuadro de calendario                         */
    /*...............................................................*/
    .calendario {
        display: grid;
        background-color: rgb(240, 110, 110);
        height: 200px;
        width: 400px;
        position: relative;
        top: -600px;
        left: 1000px;
        padding: 5px 10px;
    
    }