:root{
    --rojo:rgb(72, 116, 145);
    }
    * {
        padding: 0;
        margin: 20;
        box-sizing: border-box;
        font-family:'Times New Roman', Times, serif;
    }
    
    body{
            background-color:var(--rojo);
            
     
    }
/*...............................................................*/
/*                            TITULO                             */
/*...............................................................*/

.titulo {
    display: grid;
    width: 1500px;
    background-color:  yellow;
    /*border-radius: 0% 50% 50% 0%;*/
    color: red;
    padding: 5px 10px;
    
}

    .menu {
        display: block;
       /* list-style: none;*/
        background-color: grey;
        height: 600px;
        width: 200px;
        position:relative;
        top:-10px;
        gap: 10px;
    }
    .menu a{
        color:white;
    }
    /*...............................................................*/
    /*                      Area de treabajo                         */
    /*...............................................................*/
    .areaTrabajo {
        display: grid;
        background-color: rgb(107, 90, 90);
        height: 600px;
        width: 790px;
        position: relative;
        top: -860px;
        left: 220px;
        padding: 5px 10px;
    
    }
    /*...............................................................*/
    /*                      boton eliminar                         */
    /*...............................................................*/
    .eliminarFicha {
        display: inline-block;
        text-decoration: none;
        text-align: left;
        background-color: rgb(228, 23, 8);
        padding: 15px;/*me genera un borde alrrededor del texto*/
        /* border-radius: 30px;*/
        box-shadow:  2px 2px 5px 2px rgb(77, 97, 206);
        position: relative;
        top: -1060px;
        left: 1130px;
        box-shadow:  2px 2px 5px 2px rgb(231, 146, 140);
    }
    .eliminarFicha:hover {
        transform: translate(5px, 5px);
        color:yellow;
    }
    /*.eliminarFicha a:hover{
        color:yellow;
    }*/
    /*...............................................................*/
    /*                      boton aceptar                            */
    /*...............................................................*/
    
    .Aceptar {
        display: inline-block;
        text-decoration: none;
        text-align: left;
        background-color: rgb(26, 56, 223);
        padding: 15px;/*me genera un borde alrrededor del texto*/
        /* border-radius: 30px;*/
        box-shadow:  2px 2px 5px 2px rgb(77, 97, 206);
        position: relative;
        top: -1310px;
        left: 1350px;
        box-shadow:  2px 2px 5px 2px rgb(122, 146, 211);
    }
    .Aceptar:hover {
        transform: translate(5px, 5px);
        color:yellow;
    }
    /*.Aceptar a:hover{
        color:yellow;
    }*/
    /*...............................................................*/
    /*                            Boton subir                         */
    /*...............................................................*/
    .triangle-up {
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 100px solid #024504;
        position:relative;
        top:-1250px;
        left:1340px;
        transition: all 0.9s;
        
      }
      .triangle-up:hover{
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 100px solid #27e024;
        position:relative;
        top:-1250px;
        left:1340px;
        transform: translate(5px, 5px);
         }


      
    /*...............................................................*/
    /*                            Boton bajar                         */
    /*...............................................................*/
    .triangle-down {
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 100px solid #024504;
        position:relative;
        top:-1350px;
        left:1120px;
        transition: all 0.9S;
      }
      .triangle-down:hover {
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 100px solid #0ce212;
        position:relative;
        top:-1350px;
        left:1120px;
        transform: translate(5px, 5px);
      }
    /*...............................................................*/
    /*                      menu nuevo                       */
    /*...............................................................*/
    .menu .nuevo {
        display: inline-block;
            text-decoration: none;
            text-align: left;
            background-color: rgb(8, 23, 107);
            width: 112px;
            padding: 15px;/*me genera un borde alrrededor del texto*/
           /* border-radius: 30px;*/
            box-shadow:  2px 2px 5px 2px rgb(77, 97, 206);
    }
    .menu .nuevo:hover {
        transform: translate(5px, 5px);
    }
    .menu .nuevo a:hover{
        color:yellow;
    }
    /*...............................................................*/
    /*                      menu busqueda                      */
    /*...............................................................*/
    .menu .busqueda {
        display: inline-block;
            text-decoration: none;
            text-align: left;
            background-color: rgb(8, 23, 107);
            width: 112px;
            padding: 15px;/*me genera un borde alrrededor del texto*/
           /* border-radius: 30px;*/
            box-shadow:  2px 2px 5px 2px rgb(77, 97, 206);
    }
    .menu .busqueda:hover {
        transform: translate(5px, 5px);
    }
    .menu .busqueda a:hover{
        color:yellow;
    }
    
    /*...............................................................*/
    /*                      menu  presupuesto                   */
    /*...............................................................*/
    .menu .presupuesto {
        display: inline-block;
            text-decoration: none;
            text-align: left;
            background-color: rgb(8, 23, 107);
            width: 112px;
            padding: 15px;/*me genera un borde alrrededor del texto*/
           /* border-radius: 30px;*/
            box-shadow:  2px 2px 5px 2px rgb(77, 97, 206);
    }
    .menu .presupuesto:hover {
        transform: translate(5px, 5px);
    }
    .menu .presupuesto a:hover{
        color:rgb(129, 129, 90);
    }
    
    /*...............................................................*/
    /*                recuadro de boton salir                        */
    /*...............................................................*/
    .botonSalir {
        display: inline-block;
        text-align: center;
        width: 85px;
        position: relative;
        top: -1100px;
        left: 1275px;
        background-color: rgb(163, 218, 170);
        padding: 15px;/*me genera un borde alrrededor del texto*/
        border-radius: 30px;
        box-shadow:  3px 3px 5px 2px rgb(232 113 113);
    
    }
    .botonSalir a {
        color:orangered;

    }
    .botonSalir:hover {
        display: inline-block;
        text-align: center;
        width: 85px;
        position: relative;
        top: -1100px;
        left: 1275px;
        box-shadow:  3px 03px 5px 2px rgb(217 226 133);
        /*padding: 15px;/*me genera un borde alrrededor del texto*/
        border-radius: 30px;
        transform: translate(5px, 5px);
        background-color: rgb(55, 73, 241);    
    }
    .botonSalir a:hover {
        color:yellow;
    }
    /*...............................................................*/
    /*           retorno   volver a pagina principal                 */
    /*...............................................................*/
        .retorno {
            display: inline-block;
            text-decoration: none;
            text-align: left;
            background-color: rgb(64, 110, 70);
            padding: 15px;/*me genera un borde alrrededor del texto*/
            border-radius: 30px;
            box-shadow:  2px 2px 5px 2px rgb(71, 218, 71);
        }
        .retorno a{
            color:white;
        }
        .retorno:hover {
            transform: translate(5px, 5px);
        }
        .retorno a:hover{
            color:yellow;
        }
    
        /*...............................................................*/
        /*                recuadro de calendario                         */
        /*...............................................................*/
        .calendario {
            display: grid;
            background-color: rgb(240, 110, 110);
            height: 200px;
            width: 450px;
            position: relative;
            top: -660px;
            left: 1050px;
            padding: 5px 10px;
        
        }