:root{
    --verde:rgb(95, 193, 206);
    
    }
    body{
        background-color:var(--verde) ;
        /*background-image: url("../trabajando.JPG");*/
    }
/*...............................................................*/
/*           TITULO DE REPARACION PAGINA                         */
/*...............................................................*/
    h2 {
       
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size:28px;
        text-align: center;
/*...............................................................*/
/*           IMAGEN DE HOMBRECITOS TRABAJANDO                    */
/*...............................................................*/    
    }
    .imagenTrabajando{
        position: relative;
        /*top: -1em;*/
        left: 32em;
    }

    /*...............................................................*/
    /*           retorno   volver a pagina principal                 */
    /*...............................................................*/
    .retorno {
        display: inline-block;
        text-decoration: none;
        text-align: left;
        background-color: rgb(64, 110, 70);
        padding: 15px;/*me genera un borde alrrededor del texto*/
        border-radius: 30px;
        box-shadow:  2px 2px 5px 2px rgb(71, 218, 71);
    }
    .retorno a{
        color:white;
    }
    .retorno:hover {
        transform: translate(5px, 5px);
    }
    .retorno a:hover{
        color:yellow;
    }

    /*...............................................................*/
    /*                        parte movil                            */
    /*...............................................................*/
    @media (max-width: 400px){
        .imagenTrabajando{
            position: relative;
            /*top: -1em;*/
            left: 1em;
        }    

    }